<div class="ui  center aligned container">
  <div class="ui category search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search Iterms...">
      <i class="search icon"></i>
    </div>
    <button class="ui small icon primary right floated left labeled button" role="button" (click)="OnNewMaterial()">
      <i aria-hidden="true" class="add icon"></i> Add Cleaning Material </button>
  </div>


</div>

<table class="ui red single line table">
  <thead class="">
    <tr class="">
      <th class="">N</th>
      <th class="">Material</th>
      <th class="">Cost</th>
      <th class=""></th>
    </tr>
  </thead>
  <tbody class="">



  </tbody>
</table>