<div class="ui  center aligned container">
  <div class="ui category search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search customer...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
  
</div>

<table class="ui red  single line table">
  <thead class="">
    <tr class="">
      <th class="">N</th>
      <th class="">Customer</th>
      <th class="">Iterm</th>
      <th class="">Qty</th>
      <th class="">Cost</th>
      <th class="">Mobile Number</th>
      <th class="">Email</th>
    </tr>
  </thead>
  <tbody class="">
  
      
  
  </tbody>
</table>
