<div class="ui  center aligned container">
  <div class="ui category search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search a customer..." name="search" [(ngModel)]="search">
      <i class="search icon"></i>
    </div>
    <button class="ui small icon primary right floated left labeled button" role="button" (click)="OnNewUser()">
      <i aria-hidden="true" class="user icon"></i> Add User</button>
    <div class="results"></div>
  </div>

</div>

<table class="ui red single line table">
  <thead class="">
    <tr class="">
      <th class="">N</th>
      <th class="">Name</th>
      <th class="">Mobile Number</th>
      <th class="">User Name</th>
      <th class="">Is Active</th>
    </tr>
  </thead>
  <tbody class="">
    <ng-container  *ngFor="let list of allUsers ">
    <tr>
      <td>{{list.id}} </td>
      <td>{{list.firstName}} {{list.lastName}} </td>
      <td>{{list.telephone}}</td>
      <td>{{list.username}} </td>
      <td >
        <input type="checkbox" [checked]="value" disabled=true> </td>
    </tr>
    </ng-container>
    <tr *ngIf="!allUsers">
      <td colspan="5">Loading data please wait....</td>
    </tr>
  </tbody>
</table>
