<div class="ui  center aligned container">
  <div class="ui category search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search a customer...">
      <i class="search icon"></i>
   </div>
  <button class="ui small icon primary right floated left labeled button" role="button" (click)="OnCustomer()">
    <i aria-hidden="true" class="user icon"></i> Add Customer</button>
</div>

<table class="ui  red single line table">
  <thead class="">
    <tr class="">
      <th class="">N</th>
      <th class="">Name</th>
      <th class="">Mobile Number</th>
      <th class="">Email</th>
      <th class="">Is Active</th>
    </tr>
  </thead>
  <tbody class="">
<tr *ngFor="let list of allCustomer">
  <td>{{list.id}} </td>
  <td>{{list.firstName}} {{list.lastName}} </td>
  <td>{{list.telephone}} </td>
  <td>{{list.email}} </td>
  <td><input type="checkbox" [checked]="value"  disabled=true> </td> 
</tr>

  </tbody>
</table>