<div class="ui green inverted center aligned segment">NEW DEPOSITE</div> 
<div class="ui text container">

  <form class="ui large form">

    <div class="field">
      <label>Customer</label>
      <div class="ui left icon input">
        <i aria-hidden="true" class="user  icon"></i>
        <input type="text" placeholder="Customer" />
      </div>
    </div>

    <div class="field">
      <label>Iterms</label>
      <input placeholder="First Name" />
    </div>

    

    <div class="equal width fields">
    <div class="field">
      <label>Deposite Date</label>
      <div class="ui left icon input">
        <i aria-hidden="true" class="calendar icon"></i>
        <input type="date" placeholder="Deposite Date" />
      </div>
    </div>

    <div class="field">
      <label>Due Date</label>
      <div class="ui left icon input">
        <i aria-hidden="true" class="add to calendar icon "></i>
        <input type="date" placeholder="Due Date" />
      </div>
    </div>

    </div>

    <div class="field">
      <label>Qty</label>
      <div class="ui left icon input">
        <i aria-hidden="true" class="balance icon"></i>
        <input type="text" placeholder="Quantity" />
      </div>
    </div>

    <div class="field">
      <label>Number of Payement</label>
      <div class="ui left icon input">
        <i aria-hidden="true" class=""></i>
        <input type="text" placeholder="Number of Payement" />
      </div>
    </div>

    <div class="field">
      <label>Status</label>
      <div class="ui left icon input">
        <i aria-hidden="true" class=""></i>
        
      </div>
    </div>
    <div class="ui center aligned container">
    <button type="submit" class="ui green button" role="button"><i class="send icon"></i>Submit</button>
    </div>
  </form>

</div>