<div>
  <div class="ui teal inverted huge pointing secondary menu">
    <div class="right menu">
      <button class="ui red small  icon  right floated left labeled button" role="button" (click)="OnNewUser()">
        <i aria-hidden="true" class="sign out icon"></i> Logout</button>
    </div>
  </div>

</div>
<br>
<br>
<div class="ui container">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui large  fluid vertical tabular menu">
       
        <a class="item" [routerLink]="['/user']" routerLinkActive="active">USer</a>
        <br>
        <a class="item" [routerLink]="['/customer']" routerLinkActive="active">Customer </a>

        <hr>
        <br>

        <a class="item" [routerLink]="['/dashboard']" routerLinkActive="active">Dasboard</a>
        <br>
        <a class="item" [routerLink]="['/deposit-iterm']" routerLinkActive="active">Deposit Iterms</a>
        <br>
        <a class="item" [routerLink]="['/iterm']" routerLinkActive="active">Iterms</a>
        <br>
        <a class="item" [routerLink]="['/cleaning-materials']" routerLinkActive="active">Cleaning Materials</a>
        
      </div>
    
    </div>
    <div class="stretched twelve wide column">
      <div class="ui segment">
      <router-outlet></router-outlet>
    </div>
    </div>
  </div>
