<div class="ui container">
  <div class="ui center aligned green inverted segment ">
    <label>NEW ITERM: {{name |uppercase}}</label>
  </div>
  <br>
  <div class="ui text container">
    <form class="ui form">
      <div class="equal width fields">

        <div class="field">
          <label for="form-input-control-first-name">Name</label>
          <div class="ui left icon input">
            <i aria-hidden="true" class="user circle large icon"></i>
            <input type="text" name="name" placeholder=" Last Name" [(ngModel)]="name" />
          </div>
        </div>

        <div class="field">
          <label for="form-input-control-last-name">Materails</label>
          <div class="ui left icon input">
            <i aria-hidden="true" class="snowflake outline icon"></i>
            <input type="text" placeholder=" Materials" />
          </div>
        </div>

        <div class="field">
          <label for="form-input-control-last-name">Cost</label>
          <div class="ui left icon input">
            <i aria-hidden="true" class="dollar icon"></i>
            <input type="text"  placeholder=" Cost"  />
          </div>
        </div>

      </div>
      <div class="field">
        <label for="form-textarea-control-opinion">Description</label>
        <textarea id="form-textarea-control-opinion" placeholder="Opinion" rows="5">
        </textarea>
      </div>
      <div class="field">
        <div class="ui center aligned container">
          <button id="form-button-control-public" class="ui green button" role="button">
            <i class="send icon "></i>Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
